

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-light text-croydon">
                        <h5 class="card-title">Antes de cargar el archivo</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <p class="card-text">Recuerda tener actualizado el archivo CSV generado por JDE antes de
                                ingresar a esta opción.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-header card-header-light text-croydon">
                        <h5 class="card-title">Carga tu archivo aquí</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group file-area text-center">
                            <label for="images"> <span>Escoja el archivo de empleados de JDE</span>
                                <input type="file" accept=".csv" (change)="onFileChange($event)" name="images" id="images" required="required" />
                                <div class="file-dummy">
                                    <div class="success">Bien, el archivo ha sido seleccionado.</div>
                                    <div class="default">Haz clic aquí</div>
                                </div>
                            </label>
                          </div>
                        <button class="btn btn-light text-croydon" (click)="uploadFile()" [disabled]="!theFile">Enviar</button><br />
                        <div *ngIf="messages.length > 0">
                            <p *ngFor="let msg of messages">
                                {{msg}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>